<div class="myBody row">
  <div class="well col-md-12" ng-show="logged">
    <h1>Modifier le message d'accueil</h1>
    <form class="form" role="form">
      <div class="form-group" ng-model="home.homeMessage" text-angular text-angular-name="Message d'accueil"></div>
      <button type="button" class="btn btn-success" ng-click="updateHome()">Sauver</button>
    </form>
  </div>
  <div class="well col-md-12 ">
    <div class="home-body" class="">
      <span class="anchor" id="home"></span>
      <img class="col-xs-6 main-pic" src="/assets/main.png" />
      <div class="col-xs-6">
        <div
        style="height: 100%; display: flex; justify-content: center; flex-direction: column; align-self: stretch; padding-top: 10%;"
      >
        <p style="text-align: center;">
          <b><span>Frédéric Robert</span></b> : batterie
        </p>
        <p style="text-align: center;">
          <b><span>Guillaume Souriau</span></b> : contrebasse
        </p>
        <p style="text-align: center;">
          <b><span>Antoine Hervier</span></b> : piano
        </p>
      </div>
      <div class="col-md-12" ng-bind-html="home.homeMessage" id="home-message"></div>
    </div>
    </div>
    <div style="clear:both;"></div>
  </div>
</div>
