<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button tpye="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="index"><i>WEST SIDE TRIO</i></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right nav-entries">
                <li><a ui-sref="index">Accueil</a></li>
                <li><a ui-sref="musicians">Musiciens</a></li>
                <li><a ui-sref="videos">Vidéos</a></li>
                <!-- <li><a ui-sref="medias">Médias</a></li> -->
                <li><a ui-sref="tour">Tour</a></li>
                <!-- <li><a ui-sref="press">Presse</a></li> -->
                <!-- <li><a ui-sref="photos">Photos</a></li> -->
                <li><a ui-sref="contact">Contact</a></li>
                <li class="dropdown" ng-controller="LoginController">
                    <a href="#" ng-hide="logged" class="dropdown-toggle " data-toggle="dropdown">Login<b class="caret"></b></a>
                    <ul ng-hide="logged" class="dropdown-menu">
                        <form>
                            <input class="" type="email" ng-model="creds.email" placeholder="E-mail" />
                            <input class="" type="password" ng-model="creds.password" placeholder="Mot de passe" />
                            <input ng-click="login()" class="btn btn-success pull-right" type="submit" value="Login" />
                        </form>
                    </ul>
                    <a ng-show="logged" href="#" class="nav dropdown-toggle" data-toggle="dropdown">{{user.email}}<b class="caret"></b></a>
                    <ul ng-show="logged" class="dropdown-menu">
                        <form>
                            <input ng-click="logout()" class="btn btn-danger" type="submit" value="Déconnexion" />
                        </form>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- <div class="row" ng-include src="'partials/audio-player/audio-player.html'"></div> -->
