@media (max-width: 991px) {
  body,
  .container,
  .container-fluid,
  #divBody {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    .well {
        margin-left: 0;
        margin-right: 0;
        padding-left: 10px;
        padding-right: 10px;

    }
  }
}
