<div class="myBody col-md-12">
    <div class="well row">
        <h1 class="">Tour</h1>
        <hr />
        <div id="new-date" ng-if="logged">
        <span class="anchor" id="newShow"></span>
            <h2>Ajouter une date</h2>
            <form>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="datetime-picker">Date</label>
                        <div id="datetime-picker" class="input-group date datetimepicker" data-date-format="dd MM yyyy - HH:ii p">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                            <input id="input-datetime" class="form-control" type="text" placeholder="Cliquer pour choisir une date" ng-model="newDate.datetime" readonly hidden="hidden" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group ">
                        <label for="department">Département</label>
                        <select class="form-control" name="department" id="department" ng-model="newDate.department" ng-options="dep as dep for dep in departments">
                            <option value=''>Choisir un département</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="city">Ville</label>
                        <input class="form-control" ng-model="newDate.city" type="text" id="city" placeholder="Ville">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="place">Lieu</label>
                        <input ng-model="newDate.place" class="form-control" type="text" id="place" placeholder="Lieu">
                    </div>
                </div>
                <!-- <div class="col-md-12">
                    <div class="form-group">
                        <label for="informations">Informations supplémentaires</label>
                        <textarea placeholder="Informations supplémentaires affichées au survol d'un concert dans la liste." name="informations" id="informations" ng-model="newDate.observations" class="col-md-12"></textarea>
                    </div>
                </div> -->
                <div class="col-md-12">
                    <div class="pull-right">
                        <button type="button" class="btn btn-success" ng-click="addNewDate(newDate)">Sauver</button>
                        <button type="button" class="btn btn-warning" ng-click="newDate = {}">Reset</button>
                    </div>
                </div>
            </form>
            <!-- <div class="preview-date" ng-show="newDate.datetime">
                <h3>Aperçu</h3>
                <table class="table table-hover table-agenda">
                    <thead>
                        <th>Date et heure</th>
                        <th>Département</th>
                        <th>Ville</th>
                        <th>Lieu</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{newDate.datetime}}</td>
                            <td>{{newDate.department}}</td>
                            <td>{{newDate.city}}</td>
                            <td>{{newDate.place}}</td>
                        </tr>
                    </tbody>
                </table>
            </div> -->
        </div>
        <div class="agenda">
        <span class="anchor" id="nextShows"></span>
            <h2>Concerts à venir</h2>
            <table class="table table-striped table-agenda">
                <thead>
                    <th>Date et heure</th>
                    <th>Département</th>
                    <th>Ville</th>
                    <th>Lieu</th>
                    <th ng-if="logged"></th>
                </thead>
                <tbody>
                    <tr ng-init="dates = []" ng-repeat="date in dates | nextShows">
                        <td>{{date.datetime | amUtc | amDateFormat:'DD/MM/YYYY HH:mm' }}</td>
                        <td>{{date.department}}</td>
                        <td>{{date.city}}</td>
                        <td>{{date.place}}</td>
                        <td ng-if="logged"><button class="btn btn-danger" ng-click="delete(date.id)">X</button></td>
                    </tr>
                </tbody>
            </table>
            <hr />
            <span class="anchor" id="previousShows"></span>
            <h2>Concerts passés ({{(dates | previousShows).length}})</h2>
            <table class="table table-striped table-agenda">
                <thead>
                    <th>Date et heure</th>
                    <th>Département</th>
                    <th>Ville</th>
                    <th>Lieu</th>
                    <th ng-if="logged"></th>
                </thead>
                <tbody>
                    <tr ng-repeat="date in dates | previousShows">
                        <td>{{date.datetime | amUtc | amDateFormat:'DD/MM/YYYY HH:mm' }}</td>
                        <td>{{date.department}}</td>
                        <td>{{date.city}}</td>
                        <td>{{date.place}}</td>
                        <td ng-if="logged"><button class="btn btn-danger" ng-click="delete(date.id)">X</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
